.popover {
    /* max-height: 75lvh; */
    /* overflow-y: auto; */
    position: fixed;

    will-change: translate;
    translate: 0 100%;
    inset: auto 0 0 0;

    /* transition: translate 0.3s ease-in-out; */
    transition-duration: 0.5s;
    transition-behavior: allow-discrete;
    /* transition-property: display translate; */
    /* transition-timing-function: ease-in-out; */

    width: 100%;
    margin-inline: auto;
    padding: 2rem 1.5rem 3rem;

    border-radius: 2rem 2rem 0 0;
    border: var(--border-green);
    border-bottom: transparent;
    background: linear-gradient(0deg, #000000, #000000),
        linear-gradient(0deg, rgba(14, 118, 49, 0.21), rgba(14, 118, 49, 0.21));

    box-shadow: var(--box-shadow-green);

    color: inherit;
}

.popover:popover-open {
    position: fixed;

    translate: 0 0;

    @starting-style {
        translate: 0 100%;
    }
}

.popover::backdrop {
    opacity: 0;
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0);
    /* transition: all 5s ease-in-out; */

    transition-property: background opacity display overlay;
    transition-duration: 0.5s;
    transition-behavior: allow-discrete;
}

.popover:popover-open::backdrop {
    opacity: 1;
    background: rgba(0 0 0 / 0.25);

    /* transition: all 5s ease-in-out; */
}

@starting-style {
    .popover:popover-open::backdrop {
        opacity: 0;
    }
}
