.referral-list {
    height: 100%;
    max-height: 600px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-snap-type: y mandatory;
    padding-inline: 1.5rem 1rem;
}

.referral-list-item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    place-items: center start;
    column-gap: 1rem;
    padding: 0.375rem;
    border-bottom: var(--border-green);
    scroll-snap-align: start;

    & > span {
        width: 100%;
    }

    & > p {
        padding: 0.5rem;
        border-radius: var(--rounded-full);
        border: var(--border-blue);
        box-shadow: var(--box-shadow-blue);
        color: var(--text-blue);
        text-shadow: var(--text-shadow-blue);

        & > svg {
            filter: var(--svg-shadow-blue);
        }
    }
}

/* .referral-list {
    position: relative;
    clip-path: path(
        "M3.18% 2.39%C2.89% 2.39% 2.65% 2.60% 2.65% 2.86%V34.58%C2.65% 34.64% 2.66% 34.71% 2.69% 34.76%L5.14% 40.36%C5.16% 40.42% 5.18% 40.48% 5.18% 40.54%V61.50%C5.18% 61.57% 5.15% 61.65% 5.12% 61.72%L2.70% 66.32%C2.67% 66.39% 2.65% 66.46% 2.65% 66.53%V97.14%C2.65% 97.40% 2.89% 97.61% 3.18% 97.61%H45.59%C45.65% 97.61% 45.72% 97.58% 45.81% 97.54%L49.70% 95.78%C49.80% 95.75% 49.88% 95.73% 49.96% 95.73%H73.43%C73.69% 95.73% 73.97% 95.97% 73.97% 96.23%V97.14%C73.97% 97.40% 74.24% 97.61% 74.50% 97.61%H96.83%C97.10% 97.61% 97.35% 97.40% 97.35% 97.14%V67.64%V39.15%V2.86%C97.10% 2.39% 96.83% 2.39% 96.83% 2.39%H3.18%ZM2.92% 33.81%C2.92% 33.87% 2.93% 33.92% 2.95% 33.97%L5.54% 40.49%C5.56% 40.55% 5.57% 40.62% 5.57% 40.68%L5.31% 63.82%C5.30% 63.91% 5.27% 64.01% 5.22% 64.10%L3.53% 66.46%C3.49% 66.55% 3.47% 66.66% 3.46% 66.76%L2.75% 90.80%C2.75% 90.88% 2.77% 90.96% 2.81% 91.05%L6.48% 96.88%C6.56% 97.23% 6.87% 97.37% 7.11% 97.37%H45.40%C45.48% 97.37% 45.55% 97.36% 45.63% 97.33%L50.02% 95.16%C50.11% 95.13% 50.21% 95.11% 50.30% 95.11%L73.84% 95.36%C74.15% 95.39% 74.38% 95.65% 74.36% 95.97%L74.32% 96.49%C74.29% 96.75% 74.56% 97.00% 74.88% 96.98%L96.57% 96.86%C96.85% 96.85% 97.08% 96.63% 97.06% 96.36%L96.83% 68.26%L97.08% 38.43%L96.97% 3.34%C96.97% 2.90% 96.66% 2.65% 96.22% 2.65%H3.45%C2.93% 2.65% 2.92% 3.34% 2.92% 3.34%V33.81%"
    );
} */

/* .referral-list::before { */
/* mask-image: unset; */

/* clip-path: path(
        "M12 10C10.8954 10 10 10.8954 10 12V144.876C10 145.126 10.0468 145.374 10.138 145.606L19.362 169.137C19.4532 169.369 19.5 169.617 19.5 169.867V257.707C19.5 258.002 19.4345 258.294 19.3082 258.561L10.1918 277.848C10.0655 278.116 10 278.408 10 278.703V407C10 408.105 10.8954 409 12 409H171.789C172.107 409 172.42 408.924 172.703 408.779L187.364 401.245C187.647 401.1 187.96 401.024 188.278 401.024H276.808C277.913 401.024 278.808 401.92 278.808 403.024V407C278.808 408.105 279.704 409 280.808 409H365C366.105 409 367 408.105 367 407V283.514V164.04V12C367 10.8954 366.105 10 365 10H12ZM11 141.654C11 141.883 11.0394 142.11 11.1165 142.326L20.8799 169.664C20.9594 169.886 20.9988 170.121 20.9964 170.357L20.0058 267.429C20.002 267.802 19.8937 268.167 19.6933 268.482L13.3041 278.522C13.1053 278.835 12.9971 279.196 12.9917 279.566L11.5073 380.504C11.5025 380.83 11.5772 381.152 11.725 381.442L24.4436 406.408C24.785 407.078 25.4736 407.5 26.2257 407.5H171.04C171.343 407.5 171.641 407.431 171.914 407.299L188.576 399.206C188.855 399.071 189.161 399.002 189.472 399.005L278.35 399.977C279.512 399.989 280.418 400.985 280.321 402.142L280.182 403.821C280.084 404.992 281.012 405.994 282.186 405.987L363.995 405.512C365.101 405.505 365.992 404.601 365.983 403.495L365 286L366 161L365.507 13.9933C365.503 12.8913 364.609 12 363.507 12H13C11.8954 12 11 12.8954 11 14V141.654Z"
    ); */
/* } */

/* .wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0 auto;
    margin-inline: auto;
    clip-path: path(
        "M12 10C10.8954 10 10 10.8954 10 12V144.876C10 145.126 10.0468 145.374 10.138 145.606L19.362 169.137C19.4532 169.369 19.5 169.617 19.5 169.867V257.707C19.5 258.002 19.4345 258.294 19.3082 258.561L10.1918 277.848C10.0655 278.116 10 278.408 10 278.703V407C10 408.105 10.8954 409 12 409H171.789C172.107 409 172.42 408.924 172.703 408.779L187.364 401.245C187.647 401.1 187.96 401.024 188.278 401.024H276.808C277.913 401.024 278.808 401.92 278.808 403.024V407C278.808 408.105 279.704 409 280.808 409H365C366.105 409 367 408.105 367 407V283.514V164.04V12C367 10.8954 366.105 10 365 10H12ZM11 141.654C11 141.883 11.0394 142.11 11.1165 142.326L20.8799 169.664C20.9594 169.886 20.9988 170.121 20.9964 170.357L20.0058 267.429C20.002 267.802 19.8937 268.167 19.6933 268.482L13.3041 278.522C13.1053 278.835 12.9971 279.196 12.9917 279.566L11.5073 380.504C11.5025 380.83 11.5772 381.152 11.725 381.442L24.4436 406.408C24.785 407.078 25.4736 407.5 26.2257 407.5H171.04C171.343 407.5 171.641 407.431 171.914 407.299L188.576 399.206C188.855 399.071 189.161 399.002 189.472 399.005L278.35 399.977C279.512 399.989 280.418 400.985 280.321 402.142L280.182 403.821C280.084 404.992 281.012 405.994 282.186 405.987L363.995 405.512C365.101 405.505 365.992 404.601 365.983 403.495L365 286L366 161L365.507 13.9933C365.503 12.8913 364.609 12 363.507 12H13C11.8954 12 11 12.8954 11 14V141.654Z"
    );
} */
