.quest-page {
    display: grid;
    grid-template-rows: auto auto 1fr;
    align-self: start;
    height: 100%;
    margin-inline: -0.25rem;
    padding-inline: 0.25rem;
    overflow: hidden;
}

.header {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 2 / span 2;

    line-height: 1.2;

    & hgroup > * {
        font-size: 1.75rem;
    }
}
