.quest-page {
    display: grid;
    align-self: start;
    height: 100%;
    overflow: hidden;
}

.header {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 2 / span 2;

    line-height: 1.2;

    & hgroup > * {
        font-size: 1.75rem;
    }
}
