.menu {
    display: grid;
    /* grid-auto-flow: dense; */
    grid-template-columns: repeat(4, minmax(auto, 3.625rem));
    justify-content: space-between;

    width: 100%;
    padding: 0.375rem;
    border-radius: 12px;

    & > li[role="none"] {
        display: grid;
        grid-template-rows: subgrid;
        place-items: center;
        grid-row: span 2 / span 2;
    }
}

.menu-item {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    place-items: center;
    justify-content: center;
    grid-row: span 2;

    row-gap: 0.25rem;
    width: max-content;
    padding-block: 0.25rem;
    padding-inline: 0.375rem;

    border-radius: inherit;

    font-size: 0.75rem;
    line-height: 1.15;
    color: white;
    text-transform: uppercase;
    text-decoration: none;

    & > svg {
        color: var(--text-green);
        filter: var(--svg-shadow-green);
    }

    &[aria-current="page"] {
        border-radius: 12px;
        background: rgba(0, 0, 0, 0.46);
        /* aspect-ratio: 1; */
    }
}
