.account-popover {
    text-align: center;

    & > hgroup {
        & > h2 {
            font-family: var(--font-secondary);
            text-shadow: var(--text-shadow-green);
            font-size: 2rem;
        }

        & > p {
            margin-block-start: 1rem;
            font-size: 0.875rem;
            color: #757575;
        }
    }
}

.popover-trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;

    width: unset;
    padding: 0.5rem;

    font-size: 0.875rem;

    & > img {
        height: 1.5rem;
        width: 1.5rem;
        border-radius: var(--rounded-full);
    }
}

.wallet {
    color: #8eae99;
}

.popover-close {
    position: fixed;
    inset: 0 auto auto 0;
    margin-block-start: 2rem;
    margin-inline-start: 1.5rem;

    font-size: 1.5rem;
    color: var(--text-green);
}
