.account-popover {
    text-align: center;

    & h2 {
        font-family: var(--font-secondary);
        text-shadow: var(--text-shadow-green);
        font-size: 2rem;
    }

    & p,
    dt {
        font-size: 0.875rem;
        color: #757575;
    }

    & > div {
        display: grid;
        row-gap: 0.5rem;
        place-items: center;

        max-width: 75%;
        margin-block-start: 2.25rem;
        margin-inline: auto;

        & > dl {
            display: grid;
            grid-template-rows: subgrid;
            grid-template-columns: subgrid;
            grid-row: span 2;

            & > dd {
                word-break: break-all;
                overflow-wrap: break-word;
            }
        }
    }
}

.editable {
    & p {
        margin-block-start: 1rem;
    }
}

.connect-wallet-button {
    margin-block-start: 1.5rem;
    font-size: 1rem;
    text-decoration: underline;
}

.popover-trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;

    min-width: 200px;
    width: unset !important;
    padding: 0.5rem;

    font-size: 0.875rem !important;

    & > img {
        height: 1.5rem;
        width: 1.5rem;
        border-radius: var(--rounded-full);
    }
}

.wallet {
    color: #8eae99;
}

.popover-close {
    position: fixed;
    inset: 0 auto auto 0;
    margin-block-start: 2rem;
    margin-inline-start: 1.5rem;

    font-size: 1.5rem;
    color: var(--text-green);
}
