.channel-list {
    display: grid;
    row-gap: 0.5rem;
    max-height: 336px;
    margin-block-start: 0.75rem;
    padding-block: 0.25rem;
    margin-inline: -0.75rem;
    padding-inline: 0.75rem;
    scroll-padding-block-start: 0.25rem;

    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-snap-type: y mandatory;

    user-select: none;
}

.channel-list-item {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(min-content, auto) 1fr minmax(
            min-content,
            auto
        );

    padding-inline: 1rem;
    padding-block: 0.75rem;
    place-items: center;
    column-gap: 1rem;
    font-size: 1rem;
    font-family: var(--font-primary);

    scroll-snap-align: start;
}

.channel-logo {
    width: 2rem;
    height: 2rem;
}

.channel-name {
    justify-self: start;
}
